/* Columns */

.row {
  overflow: hidden;
}

.lcol2 {
  float: left;
  width: 50%;
}

.rcol2 {
  float: right;
  width: 50%;
}

.lcol3 {
  float: left;
  width: 33%;
}

.ccol3 {
  float: left;
  width: 33%;
}

.rcol3 {
  float: right;
  width: 33%;
}
